micronaut:
  application:
    name: keyManager

datasources:
  default:
    url: ${DB_URL:`jdbc:postgresql://localhost:5432/pix`}
    driverClassName: org.postgresql.Driver
    username: ${DB_USER:`keycloak`}
    password: ${DB_PASS:`password`}
    dialect: POSTGRES
jpa.default.properties.hibernate.hbm2ddl.auto: create
jpa.default.properties.hibernate.show_sql: false
jpa.default.properties.hibernate.format_sql: true

itau:
  client:
    url: 'http://localhost:9091/api/v1'



#datasources:
#  default:
#    url: jdbc:h2:mem:devDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
#    driverClassName: org.h2.Driver
#    username: sa
#    password: ''
#    schema-generate: CREATE_DROP
#    dialect: H2
#jpa.default.properties.hibernate.hbm2ddl.auto: update
